.wrapper{
    width: 1080px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.primary {
    position: relative;
    width: 80%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:50px;
   
}
.primary-right,.primary-left{
    display: flex;
    flex-wrap: wrap;

}
.secondary {
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #e0d8d8f0;
}
.sidenav {
    position: fixed;
    z-index: 1;
    top: 70px;
    right: 5px;
    overflow-x: hidden;
    padding-bottom: 20px;
    width: 14%; 
    background-color: #8f919277
}

.sidenav a {
    padding: 6px 8px 20px 16px;
    text-decoration: none;
    color: rgb(4, 17, 27);
    display: block;
}

.sidenav a:hover {
    color: #064579;
}