@import 'mediaqueries.css';
@import 'reset.css';
@import 'buttons.css';
.nav-bar{
    background-color: #171915f5;
    display: flex;
    padding: 20px;
    font-family: sans-serif;
    color:#FFFFFF;
    position:fixed;
    z-index: 99999;
    width:100%;
    height: 50px;
    align-items: center;
}
.nav-bar input[type=text] {
    border: none;
    
  }
.nav-bar-right{
    margin-left: auto;

}
.nav-bar-link{
    padding: 10px;
}
.nav-bar-link i:hover{
    background-color: #8E8C8D;
}
.nav-bar-items{
    background-color: #171915f5;
    display: flex;
}
.nav-bar-toggle{
    display:none;
}
.nav-bar-brand{
    padding: 10px;
}
.index-image{
    width: 100%;
    height: auto;
    z-index: -1;
    position: fixed;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.container{
    display: grid;
    position: relative;
    margin:0 auto;
}
.overlay {
    position:absolute;
    background: rgba(0,0,0,0.5);
    color:#f1f1f1;
    width: 100%;
    padding: 80px;
    min-height: 600px;
    text-align: center;
}
.overlay>h1 {
    font: 5em sans-serif;
}
.overlay>p{
    font:  3em sans-serif;
}
.button-login {
    background-color:rgb(2, 97, 2);
}
.button-signup {
    background-color:rgb(4, 87, 4);
}
.button-login a{
    color: #FFFFFF;
}
.button-signup a{
    color: #FFFFFF;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.primary{
    display: grid;
    height: 600px;
    width:70%;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: 200px;
}
.primary-right{
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 4;

}
.primary-left{
    grid-column-start: 1; 
    grid-row-start: 3; 
    grid-row-end: 5; 

}
.secondary {
    display: flex;
    width: 30%;
}