@import 'mediaqueries.css';
@import 'reset.css';
@import 'buttons.css';
@import 'home.css';
@import 'navbar.css';
@import 'forms.css';
@import 'profile.css';
body{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}
.index-image{
    width: 100%;
    height: auto;
    z-index: -1;
    position: fixed;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.container{
    display: grid;
    position: relative;
    margin:0 auto;
}
.overlay {
    position:absolute;
    background: rgba(0,0,0,0.5);
    color:#f1f1f1;
    width: 100%;
    padding: 80px;
    height: 100%;
    min-height: 600px;
    text-align: center;
}
.overlay>h1 {
    font: 5em sans-serif;
}
.overlay>p{
    font:  3em sans-serif;
}
.button-login {
    background-color:rgb(2, 97, 2);
}
.button-signup {
    background-color:rgb(4, 87, 4);
}
.button-login a{
    color: #FFFFFF;
}
.button-signup a{
    color: #FFFFFF;
}
h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 18px;
}
.posts{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid #00000020;
    border-bottom: none;
}
.header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.posts h2{
    font: 2em sans-serif;
    border-bottom: 1px solid black;

}
.post-items{
    flex: 1 1 auto;
    padding: 1rem;
    
}
.post-items a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
}
.post-items .votes .accepted-answers .views{
    display: inline;
}
.signup-box{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px 30px;
}
.signup-box div{
    flex-grow: 1;
}
.signup-box h1{
    text-align: center;
    font-size: 30px;
    border-bottom: 6px solid #053a15;
    margin-bottom: 10px;
    padding: 0 0 12px 0;
}
.signup-box p{
    text-decoration: dotted;
}
.input-box{
    width: 100%;
    background-color: lightyellow;
    border: 0px 4px 0px 4px;
    padding: 1px 6px 1px 6px;
    padding: 3px 5px 3px 5px;
    border-style: none; 
    
}
.input-box p{
    font-weight:bold;
    width: 50%;
    margin-bottom: 5px;
    border-bottom: 2px solid #053a15;
}
.input-box :focus{

border-style: solid;
border-color: black;
}
.profile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: auto;
    text-align: center;
    padding-top: 50px;
    font: 1em sans-serif;
    position: fixed;
}
.title {
    color: grey;
    font-size: 18px;
}
.questions{
    flex-grow: 1;
    width:70%;
    margin-top: 50px;
    margin-left:70px;
}

.question-summary p{
    font-size:17px;
    font-weight:300;
    color:#6a737c;
    margin-bottom:4px;
    flex: 1 1 auto;
    padding: 1rem;

}
.editprofile{
    background:none;
    color: rgb(14, 13, 13);
    width: 50%;
    margin-left: 100px;
    justify-content: center;
    border: none;
}
.ans-by{
    font-size: 10px;
    margin-top: 10px;
}
.last-view{
    font-size: 10px;
    float: right;
}
.qn-time{
    font-size: 10px;
    float: left;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.green{
    background-color: #053a15;
}
.primary ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
.newqn{
    padding-top: 50px;
    padding-right: 10px;
    padding-bottom: auto;
    padding-left: auto;
    position: fixed;
    z-index: 8273;
    width:20%;
    background-color: #f9f9f9;
}