@import 'mediaqueries.css';
@import 'reset.css';
@import 'buttons.css';
@import 'home.css';
@import 'navbar.css';
.index-image{
    width: 100%;
    height: auto;
    z-index: -1;
    position: fixed;
    vertical-align: middle;
}
* {
    box-sizing: border-box;
}
.container{
    display: grid;
    position: relative;
    margin:0 auto;
}
.overlay {
    position:absolute;
    background: rgba(0,0,0,0.5);
    color:#f1f1f1;
    width: 100%;
    padding: 80px;
    min-height: 600px;
    text-align: center;
}
.overlay>h1 {
    font: 5em sans-serif;
}
.overlay>p{
    font:  3em sans-serif;
}
.button-login {
    background-color:rgb(2, 97, 2);
}
.button-signup {
    background-color:rgb(4, 87, 4);
}
.button-login a{
    color: #FFFFFF;
}
.button-signup a{
    color: #FFFFFF;
}
.posts{
    text-align: center;
}
.post-items{
    font: 2em sans-serif;
    border: none;
    margin: 10px;
    padding: 16px;
    
}
.post-items a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #2196F3;
    display: block;
}