@media only screen and (max-width: 768px) {
    .nav-bar-items,
    .nav-bar {
        flex-direction: column;
    }
    .nav-bar-items {
        display:none;
    }
    .nav-bar-right{
        margin-left: 0;
    }
    .nav-bar-toggle-show{
        display: flex;
    }
    .nav-bar-toggle{
        align-self: flex-end;
        display:initial;
        position: absolute;
        cursor: pointer;
    }
}